.signup {
}
.form {
  max-width: fit-content;
  width: 100%;
  min-height: 600px;
  padding: 60px 68px 40px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: left;
  margin-top: 30px;
  z-index: 2;

  a {
    color: #fff;
    font-weight: 600;
    margin-left: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: rgb(49, 115, 239);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.title {
  font-weight: 600;
  margin-bottom: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 340px;
  width: 100%;
}

.input {
  // outline: none;
  border: none;
  padding: 10px;
  background-color: #333;
  border-radius: 4px;
  color: #fff;
}

.button {
  outline: none;
  border: none;
  width: 100%;
  padding: 12px 0;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.text {
  font-size: 16px;
  color: #737373;
  fwe: 500px;
}

.textSmall {
  line-height: normal;
  font-size: 12px;
  margin-top: 10px;
  color: #8c8c8c;
}

.error {
  background-color: #e87c03;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #fff;
  margin: 0 0 16px;
  padding: 15px 20px;
}
