.browse {
  min-height: 80vh;
  color: #fff;
  padding: 40px;
  background: url('/images/misc/joker1.jpg') no-repeat center center;
  background-size: contain;
  position: relative;
  z-index: 0;

  @media (max-width: 1380px) {
    background-size: cover;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.logo {
  img {
    height: 42px;
    width: auto;

    @media (max-width: 700px) {
      height: 28px;
    }
  }
}

.links {
  margin-right: auto;
  margin-left: 20px;

  span {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;

    button {
      display: inline-flex;
      appearance: none;
      background-color: inherit;
      outline: none;
      border: 0;
      color: #fff;
      font-size: 18px;

      &:hover {
        color: #e50914;
        cursor: pointer;
      }
    }
  }
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;

  h4 {
    font-weight: 400;
    font-size: 18px;

    @media (max-width: 800px) {
      display: none;
    }
  }

  img {
    width: 30px;
    height: auto;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.searchInput {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 50px;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 30px;
    background-color: #44444459;
    color: #fff;

    &:focus {
      width: 200px;
      padding: 0 6px;
      border: 1px solid #fff;
      transition: width 0.5s ease-in-out;
    }

    &::placeholder {
      opacity: 0;
    }

    &:focus::placeholder {
      opacity: 1;
    }
  }
}

.iconSearch {
  position: absolute;
  right: 0;
  margin-right: 6px;
  color: #fff;
  height: 14px;
  width: auto;
}

.iconPowerOff {
  width: 20px;
  height: auto;
  color: #e50914;
  cursor: pointer;
}

.signout {
  position: absolute;
  top: 25px;
  right: 0;
  width: 140px;
  padding: 15px;
  background-color: #000;

  div {
    display: flex;
    gap: 7px;
    margin-bottom: 15px;
  }
}

.signoutBtn {
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 6px 12px;
  background-color: #222;
  font-weight: 500;
  cursor: pointer;
}

.description {
  position: relative;
  color: inherit;
  max-width: 55%;
  margin-top: 15vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);

  h2 {
    margin-bottom: 20px;
    font-size: 40px;

    @media (max-width: 800px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 22px;

    @media (max-width: 800px) {
      font-size: 14px;
    }
  }
}

.playBtn {
  margin-top: 20px;
  padding: 10px 26px;
  border: none;
  border-radius: 6px;
  background-color: #ebebebeb;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color ease 0.5s;
  box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);

  &:hover {
    background-color: #ff1e1e;
    color: #fff;
  }
}

.active {
  display: none;
}

.loading {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}
