.cardsContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  @media (max-width: 1000px) {
    flex-flow: wrap;
    justify-content: center;
  }
}

.description {
  position: relative;
  cursor: pointer;

  &:hover {
    .details {
      display: block;
      transform: scale(1.2);
      z-index: 2;
      font-size: 12px;
    }

    img {
      transform: scale(1.2);
      position: relative;
      z-index: 1;
    }
  }
}

.details {
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
}

.image {
  width: 100%;
  max-width: 305px;
  height: auto;

  &:hover {
    .details {
      display: block;
    }
  }
}

.itemTitle {
  color: #d3d2d2;
}

.itemDescription {
  color: #d3d2d2;
  font-size: 11px;
  line-height: normal;
  margin-top: 16px;
}

.itemDetails {
  color: #d3d2d2;
  font-size: 11px;
  position: absolute;
  top: 12px;
  right: 20px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  display: grid;
  place-content: center;
}
