body {
  background-color: #000;
  overflow-x: hidden;
}

.root {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: inherit;
  color: #333;
  font-size: 16px;
}

.section__accordion {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 70px 45px;
  border-bottom: 8px solid #222;
  overflow: hidden;
}

.row {
  flex-direction: row;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.row-reverse {
  flex-direction: row-reverse;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
